<%- include("partials/header") %>

<div class="container" >
    <div class="text">
            <h1 class="titlepage"><%= City %><img src= <%=ImageUrl %> alt="img" /></h1>
            <h2><%=Temperature%> C</h2>
            <h2><%= Description %></h2>
    </div>
</div>

<%- include("partials/footer") %>